.login-title {
  margin-bottom: 50px;
}
.social-login {
  position: relative;
  left: 50px;
}
.social-login ul {
  list-style: none;
  font-size: 2em;
  position: relative;
  left: -50px;
}
.social-login ul li{
  margin-bottom: 10px;
}
span.google-icon {
  background-image: url('../images/google-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
}
span.yahoo-icon {
  background-image: url('../images/yahoo-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
}
span.facebook-icon {
  background-image: url('../images/facebook-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
}
span.twitter-icon {
  background-image: url('../images/twitter-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
}

.proper-login {
  position: relative;
  left: -50px;
}

form#loginForm {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.register-link {
  margin-top: 20px;
  margin-left: 38%;
}
