
main {
  position: relative;
}


.taskstate {
  width: 200px;
  height: 300px;
}

.task {
  width: 150px;
  height: 130px;
  font-size: 85%;
  padding: 0;
  margin: 0;
}
.task ul {
  list-style-type: none;
}
.task * {
  padding: 1px;
  margin: 1px;
}

#group-menu .list-group {
  margin-top: 10px;
}
.taskstatus .panel-heading {
  height: 40px;
}
.taskstatus .panel-heading h3 {
  float: left;
}
.taskstatus .panel-actions {
  position: relative;
  top: -7px;
  float: right;
  margin: 0;
  padding: 0;
}
.task .panel-heading {
  height: 30%;
  word-wrap: break-word;
}
.task .task-deadline-error {
  background-color: #FF69B4;
}
.task .task-deadline-warn {
  background-color: #FFD700;
}
.task select.assigned {
  background-color: #FFB6C1;
}
.task-actions {
  float: right;
  position: relative;
  top: -3px;
}
.task-memo-editor {
  width: 90%;
}

