
main {
  position: relative;
}

#group-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: red;
}

.taskstate {
  width: 200px;
  height: 300px;
}

.task {
  width: 150px;
  font-size: 85%;
  padding: 0;
  margin: 0;
}
.task ul {
  list-style-type: none;
}
.task * {
  padding: 1px;
  margin: 1px;
}

#group-menu .list-group {
  margin-top: 10px;
}
.taskstate .panel-heading h3 {
  float: left;
}
